.container {
  padding: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 8px;

  display: flex;
  flex-direction: column;
}

.name {
  margin-top: 16px;
}
